.fieldcontainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0 px;
	height: 500px;
	width: 500px;
	margin: 0 auto;
	padding: 20px;
}

.cell {
	font-size: 24px;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(0, 0, 0);
	cursor: pointer;
}

.X {
	color: red;
}

.O {
	color: blue;
}
